.slider04 {
    transform-origin: left top;
    transform: rotate(90deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -100px;
    position: relative;
}

#slider04 {
    -webkit-appearance: none;
    width: 600px;
    height: 5px;
    outline: none;
    border-radius: 999px;
    background: #747474;
    border: 17px solid #f6f8f6;
    box-shadow: 0px -1px 2px grey;
    margin: 0
}


#slider04:focus {
    outline: none
}


#slider04::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 6px solid #FFFFFF;
    width: 60px;
    height: 40px;
    border-radius: 999px;
    cursor: pointer;
    background-color: #FFFFFF;
    box-shadow: inset 0px -2px 6px gray, 3px -3px 6px gray
}


input[type=range] + datalist {
    display: block;
    margin-top: -4px
}

.ticks {
    display: flex;
    justify-content: space-between;
    width: 600px
}

.tick {
    position: relative;
    display: flex;
    justify-content: center;
    width: 1px;
    height: 8px;
    background: #BFBFBF
}

.tick.strong {
    width: 2px;
    height: 24px
}

