html {
    height: 100%;
    width: 100%
}

body {
    background-color: #FFFFFF;
    margin: 100px;
}

main {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.leftGroup {
    width: 700px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1
}

.switchGroup {
    margin: 30px
}

.btnGroup {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}